@import "../src/assets/fonts/poppins.css";

page {
  font-family: "poppins";
  height: 100%;
  --tabs-active-color: #000;
}

.page-padding {
  padding: 48px;
}

.page-padding-h {
  padding-left: 32px;
  padding-right: 32px;
}

.container-h {
  display: flex;
  flex-direction: row;
}

.container-v {
  display: flex;
  flex-direction: column;
}

.center-h {
  justify-content: center;
}

.center-v {
  align-items: center;
}

.border {
  border: 1px black solid;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 90vh;
}

.list-gap {
  gap: 16px;
}

.grow {
  flex: 1;
}

.bg-gray {
  background-color: #f7f8fa;
}

.config-page {
  background-color: #f7f8fa;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 40px 16px;
  padding-bottom: 80px;
  position: relative;
  flex: 1;
}

.button-container {
  padding: 48px 32px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.tab-pane {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px 0;
  min-height: 90vh;
}

.tab-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 8px 0;
  gap: 24px;
}

.chip-container {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  row-gap: 8px;
  flex-wrap: wrap;
}

.cc {
  justify-content: center;
  align-items: center;
}

.card-gap {
  gap: 20px;
}

.no-border-after::after {
  border: none;
}
